/** barre de navigation**/

.menu{

    display: flex;
    background-color: black;
    justify-content: space-between;
}

img {

    margin: 2px;
    margin-left: 10px;
}


.btn, .btn-large, .btn-small {

    background-color: white;
    color: black;
}

/**header**/

header .container{

width: 100%;
margin: 0;
background-color: salmon;
}

header .img-iphone{

    width: 25vw;
    height: 90%;
}

header .col{

    text-align: center;
    padding: 20px;
}
.row{
    margin-bottom: 0;
}
.row .col .s6 {
    height: 100%;
    padding: 30px;
}
.hero-header-text{
    display: flex;
}
.hero-header-text .col.s6{

    margin: auto;
}

/**boutons**/

.button-l{     
    width: 150px;     
    height: auto;     
    text-align: left; }


 
/**footer**/

footer {

    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
}

footer .icon{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
footer .text{
    display: flex;
    justify-content: center;
}

footer .svg-inline--fa{
    padding: 5px;
}